In [4]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [5]:
#Calculate the total number of schools
school_total_number = school_data_complete_df["school_name"].nunique()
school_total_number

15

In [6]:
# Calculate the total number of students
student_number = school_data_complete_df["Student ID"].count()
student_number

39170

In [7]:
#Calculate the total budget
budget_total = school_data_df["budget"].sum()
budget_total

24649428

In [8]:
#Calculate the average maths score
Avg_score_maths = school_data_complete_df["maths_score"].mean()
Avg_score_maths

70.33819249425581

In [9]:
#Average reading score
Avg_score_reading = school_data_complete_df["reading_score"].mean()
Avg_score_reading

69.98013786060761

In [10]:
#Percentage of students with a passing maths score above 50 (pass mark is 50)
#first calculate the number with score above 50
maths_pass_count = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)].count()["student_name"]
maths_pass_percent = maths_pass_count / float(student_number ) * 100

In [11]:
#Percentage of students with a passing reading score above 50
#first calculate the number with reading score above 50
reading_pass_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
reading_pass_percent = maths_pass_count / float(student_number ) * 100

In [12]:
#Percentage of students who passed maths and reading overall
#first calculate the number with overall score above 50
maths_reading__pass_count = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50) 
                                                  & (school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
overall_pass_percentage = maths_reading__pass_count / float(student_number ) * 100

In [13]:
#Clean, reorganize and create dataframe
area_summary = pd.DataFrame({"Total number of Schools": [school_total_number], 
                                 "Total number of Students": [student_number], 
                                 "Total Budget": [budget_total],
                                 "Average Maths Score": [Avg_score_maths ], 
                                 "Average Reading Score": [Avg_score_reading],
                                 "Percentage Passing Maths": [maths_pass_percent],
                                 "Percentage Passing Reading": [reading_pass_percent],
                                 "Percentage Overall Passing": [overall_pass_percentage]})

Area_summary = area_summary[["Total number of Schools",
                             "Total number of Students",
                             "Total Budget",
                             "Average Maths Score", 
                             "Average Reading Score",
                             "Percentage Passing Maths",
                             "Percentage Passing Reading",
                             "Percentage Overall Passing"]]

# Formatt as needed in display
Area_summary["Total number of Students"] = Area_summary["Total number of Students"].map("{:,}".format)
Area_summary["Total Budget"] = Area_summary["Total Budget"].map("${:,.2f}".format)

# Display DataFrame
Area_summary

,Total number of Schools,Total number of Students,Total Budget,Average Maths Score,Average Reading Score,Percentage Passing Maths,Percentage Passing Reading,Percentage Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,86.078632,72.808272

In [14]:
#get school Names and type
school_type = school_data_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

## School Summary

In [15]:
#Get the number of students per school
student_count_school = school_data_complete_df["school_name"].value_counts()

In [16]:
#get the total School Budget
each_school_budget = school_data_complete_df.groupby(["school_name"])["budget"].mean()

In [17]:
#get the budget per Student
budget_per_student = each_school_budget / student_count_school

In [18]:
#get the Average Maths Score
Average_maths_score = school_data_complete_df.groupby(["school_name"])["maths_score"].mean()

In [19]:
#get the Average reading Score
Average_reading_score = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()

In [20]:
#To get the percentage number of students who passed maths and reading, first create separate dataframes of school subject scores
school_maths_score = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)]

#repeat for reading
school_reading_score = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)]

# Get in a dataframe the number of students who passed both reading and maths too.
school_maths_and_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)
                            & (school_data_complete_df["maths_score"] >= 50)]

In [21]:
#Now, get the percentage of maths pass rate in schools
per_school_passing_maths = school_maths_score.groupby(["school_name"]).size() / student_count_school * 100

In [22]:
#get the percentage of reading pass rate in schools
per_school_passing_reading = school_reading_score.groupby(["school_name"]).size() / student_count_school * 100

In [23]:
#get the overall percentage of maths and reading pass rate in schools
overall_passing_rate = school_maths_and_reading.groupby(["school_name"]).size() / student_count_school * 100

In [24]:
# Organise and convert to dataframe
School_summary = pd.DataFrame({"School Type": school_type,
                             "Total Students": student_count_school,
                             "Total School Budget": each_school_budget,
                             "Per Student Budget": budget_per_student,
                             "Average Maths Score": Average_maths_score,
                             "Average Reading Score": Average_reading_score,
                             "Percent Passing Maths": per_school_passing_maths,
                             "Percent Passing Reading": per_school_passing_reading,
                             "Percent Overall Passing": overall_passing_rate})

#formatt dataframe
schools_summary = School_summary[["School Type",
                                 "Total Students",
                                 "Total School Budget",
                                 "Per Student Budget",
                                 "Average Maths Score",
                                 "Average Reading Score", 
                                 "Percent Passing Maths",
                                 "Percent Passing Reading", 
                                 "Percent Overall Passing"]]

schools_summary["Total School Budget"] = schools_summary["Total School Budget"].map("${:,.2f}".format)
schools_summary["Per Student Budget"] = schools_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
schools_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools by percentage Overall Passing

In [26]:
#get the top 5 performing schools by sorting
top_schools = schools_summary.sort_values(["Percent Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools by percentage Overall Passing

In [27]:
#get the bottom performing scools the same way
bottom_schools = schools_summary.sort_values(["Percent Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,Percent Passing Maths,Percent Passing Reading,Percent Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

In [ ]:
# create a series of the scores by year levels using conditionals
year_nine_data = school_data_complete_df[(school_data_complete_df["year"] == 9)]
year_ten_data = school_data_complete_df[(school_data_complete_df["year"] == 10)]
year_eleven_data = school_data_complete_df[(school_data_complete_df["year"] == 11)]
year_twelve_data = school_data_complete_df[(school_data_complete_df["year"] == 12)]

# Groupby each by school name and maths score
year_nine_maths_scores = year_nine_data.groupby(["school_name"])["maths_score"].mean()
year_ten_maths_scores = year_ten_data.groupby(["school_name"])["maths_score"].mean()
year_eleven_maths_scores = year_eleven_data.groupby(["school_name"])["maths_score"].mean()
year_twelve_maths_scores = year_twelve_data.groupby(["school_name"])["maths_score"].mean()

# Get all the years into a single DataFrame
maths_scores_by_year = pd.DataFrame({"Year 9": year_nine_maths_scores,
                                     "Year 10": year_ten_maths_scores,
                                     "Year 11": year_eleven_maths_scores,
                                     "Year 12": year_twelve_maths_scores})

#arrange
Maths_scores_by_year = maths_scores_by_year[["Year 9", "Year 10", "Year 11", "Year 12"]]

maths_scores_by_year

## Reading Score by Year

In [ ]:
# create a series of the scores by year levels using conditionals
year_nine_data = school_data_complete_df[(school_data_complete_df["year"] == 9)]
year_ten_data = school_data_complete_df[(school_data_complete_df["year"] == 10)]
year_eleven_data = school_data_complete_df[(school_data_complete_df["year"] == 11)]
year_twelve_data = school_data_complete_df[(school_data_complete_df["year"] == 12)]

# Groupby each by school name and reading score
year_nine_reading_scores = year_nine_data.groupby(["school_name"])["reading_score"].mean()
year_ten_reading_scores = year_ten_data.groupby(["school_name"])["reading_score"].mean()
year_eleven_reading_scores = year_eleven_data.groupby(["school_name"])["reading_score"].mean()
year_twelve_reading_scores = year_twelve_data.groupby(["school_name"])["reading_score"].mean()

# Get all the years into a single DataFrame
reading_scores_by_year = pd.DataFrame({"Year 9": year_nine_reading_scores,
                                     "Year 10": year_ten_reading_scores,
                                     "Year 11": year_eleven_reading_scores,
                                     "Year 12": year_twelve_reading_scores})

# Arrange
Reading_scores_by_year = reading_scores_by_year[["Year 9", "Year 10", "Year 11", "Year 12"]]

Reading_scores_by_year

## Scores by School Spending

In [ ]:
#creating bins 
bin_limits = [0, 585, 630, 645, 680]
bin_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# copy school summary dataframe to get to "Per Student Budget" 
schools_summary_copy_df = schools_summary

In [ ]:
#create a new column to categorise spending while sorting "per student budget" spending into bins created
schools_summary_copy_df["Spending Ranges (Per Student)"]  = pd.cut(budget_per_student, bin_limits, labels=bin_labels, right=False)

In [ ]:
#  Calculate averages for the desired columns. 
spending_by_avg_maths = schools_summary_copy_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_by_avg_reading = schools_summary_copy_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = schools_summary_copy_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Maths"].mean()
spending_passing_reading = schools_summary_copy_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Reading"].mean()
overall_passing_spending = schools_summary_copy_df.groupby(["Spending Ranges (Per Student)"])["Percent Overall Passing"].mean()

In [ ]:
# create a new dataframe and round to 2 where necessary
spending_summary = pd.DataFrame({"Avg Maths Score" : spending_by_avg_maths.round(2), "Avg Reading Score" : spending_by_avg_reading.round(2), "Percentage Passing Maths" : spending_passing_maths.round(2), "Percentage Passing Reading" : spending_passing_reading.round(2), "Percentage Overall Passing" : overall_passing_spending.round(2)})


spending_summary = spending_summary[["Avg Maths Score", 
                                     "Avg Reading Score", 
                                     "Percentage Passing Maths",
                                     "Percentage Passing Reading",
                                     "Percentage Overall Passing"]]


spending_summary

## Scores by School Size

In [ ]:
#creating bins 
bin_limits = [0, 1000, 2000, 5000]
bin_labels = ["<$1000", "$1000-2000", "$2000-5000"]

In [ ]:
#create a new column to categorise size while sorting "Total students" into bins created
schools_summary_copy_df["Ranges (School size)"]  = pd.cut(student_count_school, bin_limits, labels=bin_labels, right=False)

In [ ]:
#  Calculate averages for the desired columns. 
size_by_avg_maths = schools_summary_copy_df.groupby(["Ranges (School size)"])["Average Maths Score"].mean()
size_by_avg_reading = schools_summary_copy_df.groupby(["Ranges (School size)"])["Average Reading Score"].mean()
size_passing_maths = schools_summary_copy_df.groupby(["Ranges (School size)"])["Percent Passing Maths"].mean()
size_passing_reading = schools_summary_copy_df.groupby(["Ranges (School size)"])["Percent Passing Reading"].mean()
overall_passing_size = schools_summary_copy_df.groupby(["Ranges (School size)"])["Percent Overall Passing"].mean()

In [ ]:
# create a new dataframe and round to 2 where necessary
size_summary = pd.DataFrame({"Avg Maths Score" : size_by_avg_maths,
                                 "Avg Reading Score" : size_by_avg_reading,
                                 "Percentage Passing Maths" : size_passing_maths,
                                 "Percentage Passing Reading" : size_passing_reading,
                                 "Percentage Overall Passing" : overall_passing_size})


size_summary = size_summary[["Avg Maths Score", 
                                     "Avg Reading Score", 
                                     "Percentage Passing Maths",
                                     "Percentage Passing Reading",
                                     "Percentage Overall Passing"]]


size_summary

## Scores by School type

In [ ]:
## Scores by School Type
type_math_scores = schools_summary_copy_df.groupby("School Type")["Average Maths Score"].mean()
type_reading_scores = schools_summary_copy_df.groupby("School Type")["Average Reading Score"].mean()
type_passing_math = schools_summary_copy_df.groupby("School Type")["Percent Passing Maths"].mean()
type_passing_reading = schools_summary_copy_df.groupby("School Type")["Percent Passing Reading"].mean()
type_overall_passing = schools_summary_copy_df.groupby("School Type")["Percent Overall Passing"].mean()

In [ ]:
# create a new dataframe and round to 2 where necessary
Type_summary = pd.DataFrame({"Avg Maths Score" : type_math_scores,
                                 "Avg Reading Score" : type_reading_scores,
                                 "Percentage Passing Maths" : type_passing_math,
                                 "Percentage Passing Reading" : type_passing_reading,
                                 "Percentage Overall Passing" : type_overall_passing})


type_summary = Type_summary[["Avg Maths Score", 
                                     "Avg Reading Score", 
                                     "Percentage Passing Maths",
                                     "Percentage Passing Reading",
                                     "Percentage Overall Passing"]]
type_summary